* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $MainFont !important;
}

.general-container {
    max-width: 1240px;
    margin: auto;

    @include responsive(lg) {
        max-width: 1080px;
    }

    @include responsive(md) {
        max-width: 960px;
    }

    @include responsive(sm) {
        max-width: 100%;
    }
}

button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.primary-btn{
    background-color: #f50;
    color: white;
}
.secondary-btn{
    background-color: inherit;
    border: 1px solid #e5e5e5;
    &:hover{
        border-color: #c8c7c7;
    }
}
.link-tag{
    text-decoration: none;
    color: inherit;
}