<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script>
    const done = async () => {
        await window.opener.postMessage({ token: '<%= token %>', status: true }, '*');
        window.close()
    };
</script>

<style>
    body {
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }

    .wrapper {
        width: 70%;
        text-align: center;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head h1 {
        font-weight: 900;
        font-size: x-large;
    }

    .head img {
        width: 50px;
    }

    p {
        text-align: center;
    }

    button {
        border: none;
        background-color: rgb(82, 189, 0);
        color: white;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>
    <div class="wrapper">
        <div class="head">
            <img src="/PNGs/done2PNG.jpg" alt="Tick Logo">
            <h1>Authentication Done</h1>
        </div>
        <p style="color: gray; text-align: start;">
            The Login Process has been completed. Now You can return to the main page.
        </p>
        <button onclick="done()">
            Go Back
        </button>
    </div>
</body>

</html>