.DiscoverHeader {
    background-color: $blackBG;
    color: white;
    font-size: 15px;

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .left {
            display: grid;
            grid-template-columns: 1.2fr 1fr 1fr 1fr;
            .logo,
            a {
                border-right: 1px solid #111;
                padding: 12px 10px;
            }
            .logo {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            a {
            }
        }
        .middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 10px 8px;
            width: 630px;
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .profile-section {
                display: flex;
                align-items: center;
                gap: 5px;
                .circle {
                    height: 35px;
                    width: 35px;
                    border-radius: 100%;
                    background: linear-gradient(
                        to right,
                        rgb(0, 136, 185),
                        rgb(146, 97, 105)
                    );
                }
            }
        }
    }
}

.discover-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    .main-content{
        width: 75%;
        .today-mixes{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            margin-top: 20px; 
        }
        .made-for-user{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            margin-top: 20px; 
        }
        .trending-section{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            margin-top: 20px; 
        }
    }
    .discover-side-panel{
        width: 25%;
    }
}
