.GlobalButton {
    background: linear-gradient(5.08deg, #131ef2 4.3%, #941cf0 117.19%);
    border-radius: 50px;
    padding: 15px 40px;
    border: none;
    outline: none;
    font-family: $MainFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    white-space: nowrap;
    text-transform: capitalize;

    img {
        width: 75px;
        height: 17px;
        object-fit: cover;
    }

    &:disabled {
        background: gray;
    }

    @include responsive(sm) {
        font-size: 12px;
        padding: 10px 25px;
    }
}