.SearchBox {
    display: grid;
    grid-template-columns: 1fr 15px;
    gap: 4px;
    background: #e5e5e5;
    align-items: center;
    padding: 2px 5px;
    border-radius: 4px;
    input {
        border: none;
        outline: none;
        padding: 4px 0px;
        background-color:transparent;
        height: 20px;
        font-size: 14px;
    }
}
