.SearchBox {
    display: grid;
    grid-template-columns: 1fr 15px;
    gap: 4px;
    background: #e5e5e5;
    align-items: center;
    padding: 4px 5px;
    border-radius: 4px;
    input {
        min-width: 300px;
        border: none;
        outline: none;
        padding: 4px ;
        background-color:transparent;
        height: 20px;
        font-size: 14px;
        cursor: pointer;
    }
    .search-icn{
        color: black;
    }
}
