.main-header {
    position: relative;
    background-image: url('/header Image large.jpg');
    background-size: cover;
    background-position: center;
    color: white;

    nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        padding: 20px 30px;

        .nav-btns {
            display: flex;
            gap: 6px;

            button {
                padding: 2px 16px;
            }
        }
    }

    .content {
        max-width: 530px;
        margin: 0 auto;
        padding: 145px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
            margin-top: 17px;
            align-self: center;
        }
    }
}