.song-card {
    .poster {
        position: relative;
        height: 180px;
        width: 100%;
        .play {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            color: white;
            place-items: center;
            z-index: 2;
        }
        .options{
            display: flex;
            gap: 5px;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 0;
            color: white;
            font-size: 20px;
            padding-inline: 5px;
            .heart{
                font-size: 15px;
            }
            .add-friend{

            }
        }
    }
    .title {
    }
    .author {
        color: gray;
        font-size: small;
    }
}
